
<div class="row">

    <div class="col-md-12 text-center">

        <p>
            Ingresar
        </p>

        <button type="button" class="btn btn-outline-light" style="width: 40%;"
                (click)="ingresar('google')">
            <img class="img-circle" src="../../../assets/icons/google.png">
            Google
        </button>
        <br>
        <button type="button" class="btn btn-outline-light mt-2" style="width: 40%;"
                (click)="ingresar('facebook')">
            <img class="img-circle" src="../../../assets/icons/facebook.png">
             Facebook
        </button>

    </div>

</div>