.main-container{
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero{
  cursor: pointer;
}


.chat-window{
  padding: 10px;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #fbfcfd;
  border-radius: 10px;
}

.app-mensajes{
  overflow-y:scroll;
  height:72%;
  /*background:gray;*/
  padding: 10px;
}

::-webkit-scrollbar {
  display: scroll;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
 
.w120{
  width: 120px;
}

body {
  background-color: black;
  color: white !important;
}

hr {
  border-color: white;
}

.img-circle {
  width: 150px;
}

.card-title,
.card-text {
  color: black;
}

.badge {
  margin-left: 5px;
}

.btn-outline-success {
  margin-left: 5px;
}

.img-thumb {
  width: 50px;
  height: 50px;
}
